@model Chapter
<style>
.author {
  position: relative;
  display: inline-block;
}
.hul{
  width: 100%;
  height: 500px;
  overflow: scroll;
}

.author .authortext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.author:hover .authortext {
  visibility: visible;
}

.my-custom-scrollbar {
position: relative;
height: 500px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
td .notcomplete{
  color: red !important;
}
</style>
<a asp-action="Book" asp-route-Title="@Model.Book.Title"><button class="btn btn-primary" >Back to Book</button></a>
<div style="text-align: center;">
    <h1>Chapter: @Model.ChNumber | @Model.ChName</h1>
    <a asp-action="ChapterReview" asp-route-ChId="@Model.ChapterId"><button class="btn btn-primary" >Chapter Review</button></a>
    <div class="author"><a asp-action="Study" asp-route-ChId="@Model.ChapterId"><button class="btn btn-warning" >Study Mode</button></a>
        <span class="authortext">Only words that you need more practice on will appear on Study Mode.</span>
    </div>
</div>
<div style="display: flex;">
    <div style="height: 20px; width: 20px; background-color:#c4e6cb;"></div>|<small class="text-success">mastered</small>
    <div style="height: 20px; width: 20px; background-color:#f6c6cc;"></div>|<small class="text-danger">need practice</small>
</div>
<h3>FLASHCARDS</h3>


<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Definition</th>
      </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.FlashCards)
        {
              if (item.IsComplete == false)
              {
              <tr style="border: 5px solid #f6c6cc;" >
                  <td style="font-weight:bold">@item.Word</td>
                  <td style="color:red" >- @item.Definition</td>
              </tr> 
              }else
              {
                <tr style="border: 5px solid #c4e6cb;">
                  <td style="font-weight:bold">@item.Word</td> 
                  <td style="color:green;" >- @item.Definition</td>
                </tr>
              }
        }
    </tbody>
  </table>

</div>
<a asp-action="NewWord" asp-route-ChId="@ViewBag.ChapterId" class="badge badge-info text-wrap" style="width: 6rem; color: white;"><big>+ Add New Term</big> </a>